input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(255,255,255,0) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  background: transparent !important;
  transition: background-color 9999s ease-in-out 0s;
}


